* {
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  align-items: center;
}

/*ICONS*/
body {
  margin: 0;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 5px;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  background: linear-gradient(to top, #be93c5, #7bc6cc);
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s ease-in;
}

input[type=text] {
  border: none;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(216, 216, 216, 0.5);
  border-radius: 10px;
}

.app-wrapper {
  width: 99%;
  max-width: 99%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.011), 0 0.7px 5.3px rgba(0, 0, 0, 0.016), 0 1.3px 10px rgba(0, 0, 0, 0.02), 0 2.2px 17.9px rgba(0, 0, 0, 0.024), 0 4.2px 33.4px rgba(0, 0, 0, 0.029), 0 10px 80px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  display: flex;
}

.left-area {
  max-width: 190px;
  transition: all 0.6s linear;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 20px;
}
.left-area.hide-on-mobile {
  transition: all 0.6s linear;
}
@media screen and (max-width: 900px) {
  .left-area.hide-on-mobile {
    left: -100%;
    opacity: 0;
  }
}
@media screen and (max-width: 900px) {
  .left-area {
    position: absolute;
    background-color: #fff;
    z-index: 2;
    left: 0;
    opacity: 1;
    box-shadow: 4px 0px 4px 0px rgba(222, 222, 222, 0.3);
    border-right: none;
  }
}

.app-header {
  font-size: 20px;
  font-weight: 500;
  color: #232428;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center left 20px;
  padding: 20px 20px 20px 44px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23499d77' stroke='%23499d77' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play'%3E%3Cpolygon points='5 3 19 12 5 21 5 3'/%3E%3C/svg%3E");
  border-bottom: 1px solid #ddd;
  position: relative;
}
.app-header .close-menu {
  display: none;
  position: absolute;
  top: 8px;
  right: 0;
}
@media screen and (max-width: 900px) {
  .app-header .close-menu {
    display: block;
  }
}

.inner-text {
  color: #adadad;
}

.profile {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  padding: 20px;
}
.profile img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  margin-right: 12px;
}
.profile span {
  display: block;
  line-height: 20px;
}
.page-link-list .list-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%23bebebe' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E%0A");
  padding-right: 16px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 16px;
}
.profile .Tel {
  color: #adadad;
  font-weight: 500;
}

.item-link {
  display: block;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #adadad;
  transition: all 0.2s ease-in;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item-link:not(:first-of-type) {
  margin-top: 10px;
}
.item-link.active {
  color: #499d77;
  background-color: #e0f1e9;
}
.item-link:not(.active):hover {
  color: #a8d7c2;
  background-color: #f5faf8;
}
.item-link .link-icon {
  width: 16px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 4px;
}

.list-header {
  font-size: 12px;
  color: #adadad;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 10px 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
  background-color: #fafafa;
}
.list-header svg {
  transition: all 0.2s ease-in;
}
.list-header span {
  display: block;
  font-weight: 500;
}
.list-header:hover svg {
  transition: all 0.2s ease-in;
  fill: #adadad;
}
.list-header:hover svg line {
  stroke: #fff;
}

.btn-invite {
  display: none;
}

.left-area-content {
  flex: 1;
  overflow: auto;
}

.right-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(100% - 190px);
}
@media screen and (max-width: 900px) {
  .right-area {
    max-width: 100%;
  }
}

.right-area-upper {
  width: 100%;
  border-bottom: 1px solid #ddd;
  display: flex;
  max-height: 64px;
  padding: 0 20px;
}
.right-area-upper .menu-button {
  display: none;
}
@media screen and (max-width: 900px) {
  .right-area-upper .menu-button {
    display: block;
  }
}
@media screen and (max-width: 520px) {
  .right-area-upper {
    padding: 0 10px;
  }
}

.search-input {
  flex: 1;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #adadad;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23adadad' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cpath d='M21 21l-4.35-4.35'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center left 0px;
  padding: 10px 10px 10px 24px;
}

.search-part-wrapper {
  position: relative;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  flex: 1;
}
.search-part-wrapper a.menu-links {
  color: #232428;
  font-size: 14px;
  font-weight: 500;
}
.search-part-wrapper ul a {
  color: #232428;
  font-size: 14px;
  font-weight: 500;
}
.search-part-wrapper a + a {
  margin-left: 10px;
}

.more-menu-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 2px rgba(209, 209, 209, 0.4);
  padding: 10px 0;
  transform-origin: center;
}
.more-menu-list.hide {
  display: none;
}
.more-menu-list:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  transform: rotate(45deg);
  border-radius: 2px;
  top: -6px;
  right: 32px;
  box-shadow: 0px 0px 4px 0px rgba(209, 209, 209, 0.4);
}
.more-menu-list li {
  padding: 8px 20px;
  list-style-type: none;
  cursor: pointer;
}
.more-menu-list li:hover {
  background-color: #f3f8f6;
}

.btn-notification {
  position: relative;
  display: block;
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom: 0;
  padding: 0 20px;
}
.btn-notification span {
  position: absolute;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 2px;
  width: 14px;
  height: 14px;
  right: 18px;
  top: 18px;
  font-size: 10px;
}

.action-buttons {
  border-radius: 2px;
  padding: 10px 24px 10px 40px;
  font-size: 12px;
  color: #51a380;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center left 16px;
  max-height: 36px;
}

.btn-record {
  color: #51a380;
  background-color: #e6f1ed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%2351a380' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-video'%3E%3Cpath d='M23 7l-7 5 7 5V7z'/%3E%3Crect x='1' y='5' width='15' height='14' rx='2' ry='2'/%3E%3C/svg%3E ");
  margin-right: 20px;
}
.btn-record:hover {
  background-color: #d2e6df;
}

.btn-upload {
  color: #e6f1ed;
  background-color: #51a380;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23e6f1ed' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-upload-cloud'%3E%3Cpath d='M16 16l-4-4-4 4M12 12v9'/%3E%3Cpath d='M20.39 18.39A5 5 0 0018 9h-1.26A8 8 0 103 16.3'/%3E%3Cpath d='M16 16l-4-4-4 4'/%3E%3C/svg%3E ");
}
.btn-upload:hover {
  background-color: #62b18f;
}

.action-buttons-wrapper {
  padding: 0 20px;
  align-items: center;
  display: flex;
}

.page-right-content {
  flex: 1;
  zoom: 50%;
  padding: 20px;
  overflow: scroll;
}

.content-line {
  width: 100%;
  position: relative;
}
.content-line + .content-line {
  margin-top: 24px;
  transition: 0.2s;
}
.content-line .header-text {
  display: block;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #232428;
}

.line-header {
  position: absolute;
  padding: 0 10px;
}

.content-line-hero .owl-dots {
  position: absolute;
  z-index: auto;
  left: 50%;
  transform: translatex(-50%);
  bottom: 24px;
}
.content-line-hero .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 2px;
  opacity: 0.5;
  padding: 0;
}
.content-line-hero .owl-dots .owl-dot.active {
  opacity: 1;
}

.owl-nav {
  position: absolute;
  top: 0;
  right: 10px;
}

.owl-nav button {
  background-color: #51a380;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in;
}
.owl-nav button span {
  display: none;
}
.owl-nav button:hover {
  background-color: #62b18f;
}

.owl-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%23e6f1ed' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-left'%3E%3Cpolyline points='15 18 9 12 15 6'/%3E%3C/svg%3E ");
  margin-right: 6px;
}
.owl-prev:hover {
  background-position: center left 2px;
}

.owl-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%23e6f1ed' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpath d='M9 18l6-6-6-6'/%3E%3C/svg%3E ");
}
.owl-next:hover {
  background-position: center right 2px;
}

.owl-item {
    padding: 0px 20px;
	min-width: 269.183px;
}

.owl-stage-outer {
  width: 100%;
}

.hero-img-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 160%;
  flex-shrink: 0;
  border-radius: 4px;
}
.hero-img-wrapper img {
  width: 100%;
  height: 100%;
     object-fit: scale-down;
	 /*object-fit: cover;*/
}

.owl-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 8px;
}

.upload-text-wrapper {
  position: absolute;
  top: 24px;
  left: 24px;
}
.upload-text-header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}
.upload-text-info {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  opacity: 0.8;
}
.upload-text-info span {
  border-left: 1px solid #fff;
  padding-left: 4px;
}

.img-preview {
  flex: 1;
}

.video-box-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(209, 209, 209, 0.4);
  margin-right: 10px;
}
.video-box-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-description-wrapper {
  background-color: #fff;
  padding: 8px;
  position: relative;
}
.video-description-wrapper p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video-description-header {
  font-weight: 500;
  margin: 16px 0 4px 0;
  font-size: 14px;
}
.video-description-subheader {
  color: #bebfbf;
  margin: 0;
  font-size: 12px;
}
.video-description-info {
  font-size: 12px;
  margin: 4px 0;
}
.video-description-info span {
  border-left: 1px solid #cdcdcd;
  padding-left: 4px;
}

.btn-play {
  position: absolute;
  top: -16px;
  right: 8px;
  background-color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2311a074' stroke='%2311a074' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play'%3E%3Cpath d='M5 3l14 9-14 9V3z' /%3E%3C/svg%3E");
  box-shadow: 0px 2px 4px 2px rgba(209, 209, 209, 0.4);
}

.more-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-links {
    display: none;
  }

  .more-button {
    display: block;
  }

  .action-buttons-wrapper {
    display: none;
  }
}
#owl-slider-1 .hero-img-wrapper img {
  display: block;
  width: 100%;
}

.owl-stage {
  height: 250px;
  display: flex;
}

/* img new upload

.main-modal {
	max-width: fit-content;
}
.main-modal img {
	margin: 0 auto;
}*/

.padding1 {
	padding: 15px;
	overflow-y: visible;
}

.modal-right .card .profile-info-wrapper p {
	font-size: 17px;
    line-height: 30px;
}

/*.background-color-un {
  --colors-bg--300: #1e181e;
  --colors-bg--500: #191a1e;
  --colors-primary--200: #f4908b;
  --colors-primary--300: #ea6f69;
  --colors-primary--500: #e8615a;
  --colors-primary--600: #9c3230;
  --colors-primary--700: #5e2122;
  --colors-primary--800: #451717;
  --colors-primary--900: #3c181a;
  --colors-secondary--500: #2be4ea;
  --colors-secondary--900: #295459;
  --colors-tertiary--500: #fed33f;
  --colors-on_bg--500: var(--colors-primary--500);
  --colors-on_tertiary--500: var(--colors-bg--300);
  --colors-on_primary--500: var(--colors-primary--200);
  --colors-active--500: #2bfea0;
  --fonts-primary: "Rajdhani", sans-serif;
  --fonts-secondary: "VT323", monospace;
  --ui-glow: 0 0 5px var(--colors-primary--500);
  --ui-glow-borders--500: 0 0 3px var(--colors-primary--500);
  --ui-glow-color: currentcolor;
  --ui-glow-text: -9px -6px 40px var(--ui-glow-color);
  --ui-glow-text--dimmed: -9px -6px 40px var(--ui-glow-color);
  --ui-elevation--1: 2px 2px 0 rgba(0, 0, 0, 0.8);
  --ui-notch-amount: 1rem;
  --ui-notch-hypotenuse: 22.627416px;
  --ui-notch-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--ui-notch-amount) + 2px),
    calc(100% - var(--ui-notch-amount) + 2px) 100%,
    0 100%
  );

  background-color: var(--colors-bg--500);
  background-image: radial-gradient(
    ellipse at 33% 10%,
    #461616 0%,
    transparent 75%
  );
  background-repeat: no-repeat;
  color: var(--colors-on_bg--500);
  font-family: var(--fonts-primary);
  font-size: 100%;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
}*/

a {
  text-decoration: none;
}

 /* For tablets: */
/* @media only screen and (min-width: 600px) {
  
  .app-wrapper {
  }
} */

/* For desktop !: */
@media only screen and (min-width: 768px) { /* min ==> یعنی اگه صفحه بالاتر از 768 پیکسل بود دستورات اجرا شه*/ /* max ==> یعنی اگه صفجه پایین تر از 768 پیکسل بود دستورات اجرا شه*/
  body {
	  padding: 20px;
	  justify-content: center;
  }
  
  .app-wrapper {
  max-width: 1500px;
  height: auto;
  }
  
  .btn-book {
  min-width: 120px;
}

.page-right-content {
  zoom: 0;
}

.owl-carousel {
  height: 280px;
}

.hero-img-wrapper {
    height: 100%;
}

.btn-invite {
  background-color: #499d77;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  max-width: 160px;
  margin: 0 auto;
  display: block;
  margin-top: auto;
}
.btn-invite:hover {
  background-color: #438f6c;
}
.btn-invite a {
  color: #ffffff;
}

.search-part-wrapper .search-menu {
	width: 450px;
}

.search-part-wrapper .search-menu ul {
    padding: 10px 30px 0px 40px;
}

.search-part-wrapper .search-menu ul li {
    padding: 8px 10px;
}

.search-part-wrapper .search-menu ul li .text_adv_se {
    width: 64%;
}

.search-part-wrapper .search-menu ul li .text_adv_se h3 {
	line-height: 23px;
}

.search-part-wrapper .search-menu ul li .text_adv_se .genres {
    font-size: 90%;
}

.search-part-wrapper .search-menu .nores {
	font-size: 150%;
}

.search-part-wrapper .search-menu .search-cover {
    width: 22%;
}

.search-part-wrapper .search-menu ul li .rate_container {
    width: 13%;
}

.search-part-wrapper .search-menu ul li .rate_container span {
	font-size: 15px;
}

.search-part-wrapper .search-menu ul li .rate_container svg {
    fill: #EB8307;
}
svg.icon {
	font-size: 20px;
}

.btnShowAllResult {
	font-size: 16px;
}

.padding1 {
	padding: 32px;
	overflow-y: auto;
}

.info-bar {
  display: flex;
  padding: 0px;
}
.info-wrapper {
  padding: 0px;
}

.modal-left {
  overflow-y: scroll;
}

}