/* Main  */
:root {
  --sidenav-color: var(--bg);
  --nav-color: #f0f8ffde;
  --nav-color-two: #f0f8ff8c;
  --list-color: #ffffff29;
}

body {
  transition: background 1s cubic-bezier(0.18, 0.89, 0.32, 1.28),
    color 1s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

html,
body {
  /* background: #d9cdd9; */
  background: var(--bg);
  color: var(--text-secondary);

}

/* Styling for the table headers */
.table-header {
  background-color: #333;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding: 20px;
  margin: 0;
}

/* Styling for the table rows */
.table-row {
  background-color: #f2f2f2;
  font-size: 18px;
  padding: 10px;
}

/* Styling for the small round photo */
.round-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.rotate {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.img-1 {
  width: 63px;
}

.Fast-Search {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* search box */
#list1 .form-control {
  border-color: transparent;
}

#list1 .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}

#list1 .select-input.form-control[readonly]:not([disabled]) {
  background-color: #fbfbfb;
}

.error {
  color: #ff0000;
}

/* casset */
.rotate {
  animation: rotate 12s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#cassette {
  border: 10px solid #333;
  border-radius: 18px;
  width: 316px;
  height: 213px;
  background: radial-gradient(40% 40%, white, white 55%, transparent 55%),
    radial-gradient(40% 40%, #d7d7d7, #d7d7d7 50%, transparent 52%),
    radial-gradient(40% 40%, #333, #333 50%, transparent 52%),
    radial-gradient(0% 0%, white, white 0%, transparent 0%),
    /*big*/ radial-gradient(0% 0%, #d7d7d7, #d7d7d7 0%, transparent 0%),
    /*big*/ radial-gradient(0% 0%, #333, #333 0%, transparent 0%),
    /*big*/ radial-gradient(40% 40%, #333, #333 50%, transparent 60%),
    radial-gradient(40% 40%, #333, #333 50%, transparent 60%);
  background-repeat: no-repeat;
  background-size: 54px 54px, 98px 98px, 110px 110px, 0 0, 0 0, 0 0, 22px 22px,
    22px 22px;
  background-position: 194px 68px, 172px 46px, 166px 40px, 0 0, 0 0, 0 0,
    273px 167px, 2px 167px;
  position: relative;
  perspective: 500;
}

#cassette:after {
  position: absolute;
  content: "";
  left: 49px;
  top: 136px;
  width: 197px;
  height: 58px;
  transform: rotateX(50deg);
  border-radius: 5px;
  border: 6px solid #333;
  border-top: 9px solid #333;
}

.img-cassette {
  width: 132px;
  position: absolute;
  filter: drop-shadow(1px 2px 2px rgb(0 0 0 / 0.1));
  top: 27px;
  left: 26px;
}
/* casset */

.setlibg {
  text-align: center;
  height: 80px;
}

/* sidenav */

INPUT:-webkit-autofill,
SELECT:-webkit-autofill,
TEXTAREA:-webkit-autofill {
  animation-name: onautofillstart;
}

INPUT:not(:-webkit-autofill),
SELECT:not(:-webkit-autofill),
TEXTAREA:not(:-webkit-autofill) {
  animation-name: onautofillcancel;
}

@keyframes onautofillstart {
  from {
  }
}

@keyframes onautofillcancel {
  from {
  }
}

/* load */

.load, .load-mini {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  z-index: 100;
}
.load-mini {
  right: 1%;
  width: 20px;
  height: 20px;
  display: none;
}

.load-mini.show {
  display: block;
}

.load hr, .load-mini hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
  opacity: 1;
}

.load :first-child, .load-mini :first-child {
  background: #19a68c;
  animation-delay: -1.5s;
}
.load :nth-child(2), .load-mini :nth-child(2) {
  background: #f63d3a;
  animation-delay: -1s;
}
.load :nth-child(3), .load-mini :nth-child(3) {
  background: #fda543;
  animation-delay: -0.5s;
}
.load :last-child, .load-mini :last-child {
  background: #193b48;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

/* input file image  */

.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.profile-pic input {
  display: none;
}
.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 165px;
  height: 165px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 100px;
  z-index: 0;
}
.profile-pic .-label {
  cursor: pointer;
  height: 165px;
  width: 165px;
}
.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
}
.profile-pic span {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}

/* upload form */

.formUpload {
  background-color: #ffffff9e;
  box-shadow: 0 10px 60px rgb(218, 229, 255);
  border: 1px solid rgb(159, 159, 160);
  border-radius: 20px 20px 0 0;
  padding: 2rem .7rem .7rem .7rem;
  text-align: center;
  font-size: 1.125rem;
  max-width: 100%;
}

.form-title {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 500;
}

.form-paragraph {
  margin-top: 10px;
  font-size: 0.9375rem;
  color: rgb(105, 105, 105);
}

.drop-container {
  background-color: #ffffff9e;
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 2.1875rem;
  border-radius: 10px;
  border: 2px dashed rgb(171, 202, 255);
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: rgba(0, 140, 255, 0.164);
  border-color: rgba(17, 17, 17, 0.616);
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

#file-input {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 2px;
  background: #ffffff9e;
  border-radius: 10px;
  border: 1px solid rgba(8, 8, 8, 0.288);
}

#file-input::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #ffffff9e;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

#file-input::file-selector-button:hover {
  background: #0d45a5;
}


/* Theme */
  
  .c-card {
    min-width: 100%;
    max-width: 650px;
    border: 1px solid var(--border);
    border-radius: 1.6rem;
    padding: 3.2rem;
    background: var(--surface);
    position: relative;
    box-shadow: 0.3px 0.5px 0.7px rgba(0, 0, 0, 0.08),
      0.8px 1.6px 2px -0.8px rgba(0, 0, 0, 0.08),
      2.1px 4.1px 5.2px -1.7px rgba(0, 0, 0, 0.08),
      5px 10px 12.6px -2.5px rgba(0, 0, 0, 0.08);
  }

  .c-card__title {
    margin: 0 0 0.8rem;
    padding: 0;
    line-height: 1.2;
    /* font-size: 4rem; */
    color: var(--text-primary);
  }

  .c-card__description {
    margin: 0;
    padding: 0;
    line-height: 150%;
    /* font-size: 2rem; */
    color: var(--text-secondary);
  }

  .c-button {
    display: inline-flex;
    padding: 1.2rem 2rem;
    background: var(--primary);
    border-radius: 0.8rem;
    line-height: 1;
    cursor: pointer;
    color: var(--text-inverse);
    font-weight: 700;
    user-select: none;
    position: relative;
    transition: all 120ms ease-out;
  }

  .c-button:hover,
  .c-button:focus {
    outline: none;
    transform: scale(1.03);
  }

  .c-theme {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: transparent;
    color: var(--text-primary);
    border: 1px solid transparent;
    border-radius: 0.8rem;
    padding: 0.4rem;
    transition: all 120ms ease-out;
  }

  .c-theme:hover,
  .c-theme:focus {
    border-color: var(--border);
  }

  .c-theme:after,
  .c-theme:before {
    content: "";
    position: absolute;
    z-index: 10;
  }

  .c-theme:after {
    top: 0;
    left: 0;
    right: 0;
    height: 0.8rem;
    background: linear-gradient(to bottom, var(--surface), transparent);
  }

  .c-theme:before {
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.8rem;
    background: linear-gradient(to top, var(--surface), transparent);
  }

  .c-theme:focus {
    outline: none;
  }

  .c-theme__grid {
    position: relative;
    width: 3.2rem;
    transition: all 240ms ease-out;
  }

  .c-theme svg {
    width: 2.2rem;
    height: 3.5rem;
  }

  .c-theme svg:focus {
    outline: none;
  }

  .c-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: var(--bg);
    color: var(--text-secondary);
    position: relative;
    padding: 1.6rem;
    border-radius: 1.2rem;
    border: 1px solid var(--border);
    user-select: none;
    cursor: pointer;
    transition: all 120ms ease-out;
  }

  .c-box:hover,
  .c-box:focus {
    transform: scale(1.03);
  }

  .c-box__title {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .c-box__icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.4rem;
  }

  .c-box__swatches {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.8rem;
  }

  .c-box--active {
    outline: 4px solid var(--primary) !important;
  }

  .c-box--active:after {
    content: "✓";
    position: absolute;
    top: -1.2rem;
    right: -1.2rem;
    height: 2.4rem;
    width: 2.4rem;
    background: var(--primary);
    border-radius: 999px;
    color: var(--text-inverse);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .c-swatch {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    border-radius: 999px;
    border: 1px solid var(--border);
    margin-right: -0.8rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  }

  .c-theme-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.6rem;
    margin: 3.2rem 0;
  }

  @media (max-width: 700px) {
    .c-theme-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }



  /* Upload style */


  :root {
    --hue: 223;
    --fg: hsl(var(--hue), 10%, 5%);
    --trans-dur: 0.3s;
  }


  .modal {
    background-color: hsl(var(--hue), 10%, 95%);
    border-radius: 1em;
    box-shadow: 0 0.75em 1em hsla(var(--hue), 10%, 5%, 0.3);
    color: hsl(var(--hue), 10%, 5%);
    width: calc(100% - 3em);
    max-width: 34.5em;
    overflow: hidden;
    position: relative;
    transition: background-color var(--trans-dur), color var(--trans-dur);
  }

  .modal:before {
    background-color: hsl(223, 90%, 60%);
    border-radius: 50%;
    content: "";
    filter: blur(60px);
    opacity: 0.15;
    position: absolute;
    top: -8em;
    right: -15em;
    width: 25em;
    height: 25em;
    z-index: 0;
    transition: background-color var(--trans-dur);
  }

  .modal__actions {
    animation-delay: 0.2s;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .modal__body,
  .modal__header {
    position: relative;
    z-index: 1;
  }

  .modal__body {
    display: flex;
    flex-direction: column;
    padding: 0 2em 1.875em 1.875em;
  }

  .modal__button,
  .modal__close-button {
    color: currentColor;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .modal__button {
    background-color: hsla(var(--hue), 10%, 50%, 0.2);
    border-radius: 0.25rem;
    font-size: 0.75em;
    padding: 0.5rem 2rem;
    transition: background-color var(--trans-dur), border-color var(--trans-dur),
      opacity var(--trans-dur);
    width: 100%;
  }

  .modal__button+.modal__button {
    margin-top: 0.75em;
  }

  .modal__button:disabled {
    opacity: 0.5;
  }

  .modal__button:focus,
  .modal__close-button:focus {
    outline: transparent;
  }

  .modal__button:hover,
  .modal__button:focus-visible {
    background-color: hsla(var(--hue), 10%, 60%, 0.2);
  }

  .modal__button--upload {
    background-color: transparent;
    border: 0.125rem dashed hsla(var(--hue), 10%, 50%, 0.4);
    flex: 1;
    padding: 0.375rem 2rem;
  }

  .modal__col+.modal__col {
    flex: 1;
    margin-top: 1.875em;
  }

  .modal__close-button,
  .modal__message,
  .modal__progress-value {
    color: hsl(var(--hue), 10%, 30%);
    transition: color var(--trans-dur);
  }

  .modal__close-button {
    background-color: transparent;
    display: flex;
    width: 1.5em;
    height: 1.5em;
    transition: color var(--trans-dur);
  }

  .modal__close-button:hover,
  .modal__close-button:focus-visible {
    color: hsl(var(--hue), 10%, 40%);
  }

  .modal__close-icon {
    display: block;
    margin: auto;
    pointer-events: none;
    width: 50%;
    height: auto;
  }

  .modal__content>* {
    /* don’t use shorthand syntax, or actions delay will be overridden */
    animation-name: fadeSlideIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  .modal__file {
    flex: 1;
    font-size: 0.75em;
    font-weight: 700;
    margin-right: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .modal__file~.modal__button {
    margin-top: 1.5em;
  }

  .modal__file-icon {
    color: hsl(var(--hue), 10%, 50%);
    display: block;
    margin-right: 0.75em;
    width: 1.5em;
    height: 1.5em;
    transition: color var(--trans-dur);
  }

  .modal__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2.5em;
    padding: 0.5em;
  }

  .modal__icon {
    display: block;
    margin: auto;
    width: 2.25em;
    height: 2.25em;
  }

  .modal__icon--blue g {
    stroke: hsl(223, 90%, 50%);
  }

  .modal__icon--red g {
    stroke: hsl(3, 90%, 50%);
  }

  .modal__icon--green g {
    stroke: hsl(138, 90%, 40%);
  }

  .modal__icon circle,
  .modal__icon line,
  .modal__icon polyline {
    animation: sdo 0.25s ease-in-out forwards;
    transition: stroke var(--trans-dur);
  }

  .modal__icon :nth-child(2) {
    animation-delay: 0.25s;
  }

  .modal__icon :nth-child(3) {
    animation-delay: 0.5s;
  }

  .modal__icon-sdo10 {
    stroke-dashoffset: 10;
  }

  .modal__icon-sdo14 {
    stroke-dashoffset: 14.2;
  }

  .modal__icon-sdo69 {
    stroke-dashoffset: 69.12;
    transform: rotate(-90deg);
    transform-origin: 12px 12px;
  }

  .modal__message {
    animation-delay: 0.1s;
    font-size: 1em;
    margin-bottom: 1.5em;
    min-height: 3em;
  }

  .modal__progress {
    flex: 1;
  }

  .modal__progress+.modal__button {
    margin-top: 1.75em;
  }

  .modal__progress-bar {
    background-image: linear-gradient(90deg,
        hsl(var(--hue), 90%, 50%),
        hsl(var(--hue), 90%, 70%));
    border-radius: 0.2em;
    overflow: hidden;
    width: 100%;
    height: 0.4em;
    transform: translate3d(0, 0, 0);
  }

  .modal__progress-fill {
    background-color: hsl(var(--hue), 10%, 90%);
    width: inherit;
    height: inherit;
    transition: transform 0.1s ease-in-out;
  }

  .modal__progress-value {
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1.333;
    text-align: right;
  }

  .modal__sr {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
  }

  .modal__title {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  /* state change */
  [data-state="2"]:before {
    background-color: hsl(3, 90%, 60%);
  }

  [data-state="3"]:before {
    background-color: hsl(138, 90%, 60%);
  }

  .modal__icon+.modal__icon,
  [data-state="1"] .modal__icon:first-child,
  [data-state="2"] .modal__icon:first-child,
  [data-state="3"] .modal__icon:first-child,
  .modal__content+.modal__content,
  [data-state="1"] .modal__content:first-child,
  [data-state="2"] .modal__content:first-child,
  [data-state="3"] .modal__content:first-child {
    display: none;
  }

  [data-state="1"] .modal__icon:first-child,
  [data-state="2"] .modal__icon:nth-child(2),
  [data-state="3"] .modal__icon:nth-child(3),
  [data-state="1"] .modal__content:nth-child(2),
  [data-state="2"] .modal__content:nth-child(3),
  [data-state="3"] .modal__content:nth-child(4) {
    display: block;
  }

  [data-ready="false"] .modal__content:first-child .modal__actions:nth-of-type(2),
  [data-ready="true"] .modal__content:first-child .modal__actions:first-of-type {
    display: none;
  }

  [data-ready="true"] .modal__content:first-child .modal__actions:nth-of-type(2) {
    display: flex;
  }

  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --fg: hsl(var(--hue), 10%, 95%);
    }

    .modal {
      background-color: hsl(var(--hue), 10%, 10%);
      color: hsl(var(--hue), 10%, 95%);
    }

    .modal__close-button,
    .modal__message,
    .modal__progress-value {
      color: hsl(var(--hue), 10%, 70%);
    }

    .modal__close-button:hover,
    .modal__close-button:focus-visible {
      color: hsl(var(--hue), 10%, 80%);
    }

    .modal__file-icon {
      color: hsl(var(--hue), 10%, 60%);
    }

    .modal__icon--blue g {
      stroke: hsl(223, 90%, 60%);
    }

    .modal__icon--red g {
      stroke: hsl(3, 90%, 60%);
    }

    .modal__icon--green g {
      stroke: hsl(138, 90%, 60%);
    }

    .modal__progress-fill {
      background-color: hsl(var(--hue), 10%, 20%);
    }
  }

  /* Animations */
  @keyframes fadeSlideIn {
    from {
      opacity: 0;
      transform: translateY(33%);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes sdo {
    to {
      stroke-dashoffset: 0;
    }
  }

  /* Beyond mobile */
  @media (min-width: 768px) {
    .modal__actions--center {
      justify-content: center;
      margin-left: -4.125em;
    }

    .modal__body {
      flex-direction: row;
      align-items: center;
    }

    .modal__button {
      width: auto;
    }

    .modal__button+.modal__button {
      margin-top: 0;
      margin-left: 1.5rem;
    }

    .modal__file~.modal__button {
      margin-top: 0;
    }

    .modal__file~.modal__close-button {
      margin-right: 1.5rem;
    }

    .modal__progress {
      margin-right: 2em;
    }

    .modal__progress+.modal__button {
      margin-top: 0;
    }

    .modal__col+.modal__col {
      margin-top: 0;
      margin-left: 1.875em;
    }

    .modal__title {
      text-align: left;
    }
  }